<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
  </head>
  <body>
    <div id="ajax-target">
      <h1>Hey here's some target content from bar.html</h1>
      <p>You can modify content by overriding onLoad</p>
    </div>

    <div>
      This is not target content
    </div>
  </body>
</html>
